body {
    margin: 10px;
}
  
.icon-button {
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
    text-decoration: none;
}

.icon-link {
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
}

.icon-button:hover {
    cursor: pointer;
}

.icon-button:active {
    background: #cccccc;
}

.icon-button__badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    background: red;
    color: #ffffff;
    display: none;
    border-radius: 50%;
    text-decoration: none;
}